.donate-buttom {
 	border-radius: 25px;
 	background: #ffffff;
 	border: 2px solid #00bfa5;
}

ul.tabs {
	margin-top: 50px;
}

a.font {
	font-size: 25px !important;
}

.card-define {
	margin-top: 5px  !important;
	padding: 20px;
}

label.label-check {
	font-size: 20px !important;
}

.layout-title {
	border-bottom: 6px solid #ee6e73;
	font-size: 48px;
	color: #26a69a;
}

.input-field label{
	font-size: 20px !important;
}

a.cancel{
	font-size: 18px;
	background-color: #e53935 !important;
	padding-left: 57px;
	padding-right: 57px;
}

button.addto{
	font-size: 18px;
	padding-left: 57px;
	padding-right: 57px;

}

.noimage{
	color: #ffffff !important;
}

.image{
	color: #ffffff !important;
}

input.validate{
	font-size: 20px !important;
}

input.datepicker{
	font-size: 20px !important;
}

input.file{
	font-size: 20px !important;
}

.card {
	margin-top: 10px !important;
    padding: 20px;
    border-radius: 5px !important;
    background-color: #fafafa !important;
}