.layout-title {
	font-size: 27px;
	color: #616161;
	border-bottom: thick solid #26a69a;
}

.card {
	margin-top: 20px !important;
    padding: 20px;
}

.layout-text {
	font-size: 20px;
}

button.cancel{
	font-size: 18px;
	background-color: #e53935 !important;
	padding-left: 57px;
	padding-right: 57px;
}

a.edit{
	font-size: 18px;
	background-color: #43a047 !important;
	padding-left: 57px;
	padding-right: 57px;
}

a.cancel{
	font-size: 18px;
	background-color: #e53935 !important;
	padding-left: 57px;
	padding-right: 57px;
}
