p.ad{
	font-size: 36px;
}
.input-field {
	font-size: 20px !important;
}

div.line {
	margin-top: 35px;
}
p.l-text {
	font-size: 18px;
	margin-top: 25px;
}
p.l-question {
	font-size: 18px;
}
span.l-title{
	font-size: 30px;
}

.cancel{
	margin-top: 10px;
	font-size: 18px;
	background-color: #e53935 !important;
	padding-left: 57px;
	padding-right: 57px;
}

.add{
	margin-top: 10px;
	font-size: 18px;
	padding-left: 57px;
	padding-right: 57px;
}
h4{
	color: #ffffff;
	padding-top: 17px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.editborad{
	background-color: #00bfa5 !important; 
	border-radius: 10px;
	margin-top: 25px;
}
label{
	font-size: 20px !important; 
}
.card {
	margin-top: 10px !important;
    padding: 30px;
    border-radius: 5px !important;
    background-color: #fafafa !important;
}