.layout-title{
	border-radius: 15px;
	margin: 20px;
	background-color: #00bfa5;
	color: #ffffff;
}

p.font-title{
	padding-left: 15px; 
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 30px;
}

.carousel .carousel-item img{
    width: 100% !important;
    height: 100%;
}

.title-community {
	font-size: xx-large;
    color: salmon;
}

img{
	 width: 100%;
    height: auto;
}