@font-face {
    font-family: myFirstFont;
    src: url(../../fonts/RSU_Regular.ttf);
}
html{
    font-family: myFirstFont;
}
a img{
		margin-top: 20px !important;
		margin-right: 10px !important;
	}
p.add {
	font-size: 45px;	
}
footer h5{
	font-size: 30px;
}
footer p{
	font-size: 20px;
}
footer.ft{
	margin-left: 50px;
}
