@font-face {
    font-family: myFirstFont;
    src: url(../../fonts/RSU_Regular.ttf);
}

html {
    font-family: myFirstFont;
}

.nav-wrapper a img {
	height: 100%;
	width: 340px;
}

div.nav-wrapper {
	padding-right: 20px;
	padding-left: 20px;
	background-color: #212121;
}

.nav-bar {
	background-color: #26a69a;
}

nav ul a:hover {
    background-color: #ee6e73;
}

nav ul li.active {
    background-color: #26a69a;
}

li a.dropdown{
	color: #212121 !important;
	font-size: 20px !important;
	width: 300px !important;
}

li a.dropdown-button{
	font-size: 20px !important;
}

ul.dropdown-content{
	width:300px !important;
}

li a.bar{
	font-size: 18px !important;
}

footer.page-footer {
    background-color: #212121 !important;
}

footer h5 {
	font-size: 30px;
	color: #009688;
}

footer p {
	color: #ffffff;
}

footer p {
	font-size: 20px;
}
